-# %ul.nav.nav-stacked#sidebar
.well#sidebar
  %ul.nav
    %li= link_to "Home", 'root_path'
    %li= link_to "Events", '#'
    %li= link_to "News", '#'
    %li= link_to "Adoption", '#'
    %li= link_to "Volunteer", '#'
    %li= link_to "About", 'about_path'
    %li
      %a{ href: "http://sfspca.org" } SPCA
